<%- include('layout', { title: 'Bienvenido' }) %>
    <% active='home' ; %>
        <div class="card">
            <h2>Bienvenido al Sistema de Gestión Escolar</h2>
            <p>Por favor, inicie sesión para acceder a los módulos.</p>
            <p>Utilice el botón "L" en el menú lateral para ingresar.</p>
        </div>
        <%- include('footer') %>